@font-face{
    font-family: "Consolas";
    src: url("../images/CONSOLA.TTF") format('truetype');
}

#pet-da-cat{
    background-color: #343434;
    width: 30vw;
    height: 25vw;
    border-radius: 15px;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Consolas', 'Inter', 'sans-serif'
}

#pet-da-cat pre{
    font-size: 30px;
}

#pet-da-cat pre:hover{
    cursor: pointer;
    animation: wobble 3s linear infinite;
}

  @keyframes wobble{
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  

#contact{
    background-color: #525252;
    width: 30vw;
    height: 35vw;
    border-radius: 15px;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
}

@media screen and (min-width:1200px){
    #pet-da-cat pre{
        font-size: 45px;
    }
}