#slider{
    background-color: #606060;
    width: 20vw;
    height: 4vh;
    border-radius: 15px;
    display: flex;
}

#select{
    background-color: #B0B0B0;
    width: 3vh;
    height: 3vh;
    margin-top: 0.5vh;
    border-radius: 100%;
    position: relative;
}

#select:hover{
    cursor: pointer;
}