.button{
    font-family: 'Inter', 'sans-serif';
    background-color: #A9A9A9;
    width: 12vw;
    height: 5vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    transition: 0.5s;
}

.button:hover{
    background-color: #7B7B7B;
    cursor: pointer;
    animation: expand 0.5s linear both;
}

@keyframes expand {
    0%{width: 12vw; height:5vh}
    100% {width: 13vw; height: 5vh;}
}
