#header-bck{
    background-color: #343434;
    height: 50vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header-text{
    font-family: "inter", sans-serif;
    font-size: 5vw;
    font-weight: 800;
    position: absolute;
    top: 44vh;
    left: 50vw;
    color: white;
    z-index: 100;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#header-text-bck{
    top: 43.5vh;
    left: 49.5vw;
    z-index: 90;
    color: grey;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#portrait{
    position: absolute;
    z-index: 100;
    border-radius: 100%;
    left: 3vw;
    top: 20vh;
    width: 40vw;
}

#portrait-bck{
    position: absolute;
    z-index: 90;
    border-radius: 100%;
    left: -3vw;
    top: 15vh;
    width: 50vw;
    opacity: 50%;
    mask-image: url('../images/mask.png');
    mask-repeat: no-repeat;
}

#header-bck #portrait:hover{
    cursor: pointer;
    animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.circle{
    outline: 1px white solid;
    border-radius: 100%;
    position: absolute;
}

.circle:hover{
    animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#one{
    width: 15vw;
    height: 15vw;
    left: -5%;
    top: 1vh;
}

#two{
    width: 5vw;
    height: 5vw;
    left: -2%;
    top: 16vh;
}

#three{
    width: 2vw;
    height: 2vw;
    left: 4.5vw;
    top: 16vh;
}

#four{
    width: 15vw;
    height: 15vw;
    left: 14vw;
    top: 16vh;
}

@keyframes wiggle{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px){
    #two{
        top: 30vh
    }
    #three{
        top: 30vh
    }
    #portrait{
        left: 10vw;
        top: 15vh;
        border-radius: 100%;
        width: 25vw;
    }
    #portrait-bck{
        left: 7vw;
        top: 16vh;
        width: 40vw;
    }
    .header-text{
        top: 40vh;
        left: 45vw;
    }
    #header-text-bck{
        top: 39.5vh;
        left: 44.5vw;
    }
}